# ignore everything files
*/*

# packages
!packages/
!packages/*
packages/*/*

## general
!packages/*/dist
packages/*/dist/*
!packages/*/dist/*.min.js
!packages/*/dist/*.debug.js
!packages/*/dist/*.umd.js
!packages/*/types
!packages/*/index.js
!packages/*/package.json
!packages/*/README.md
!packages/*/CHANGELOG.md
!packages/*/documentation.md

## angular
!packages/angular/src
!packages/angular/ng-package.json
!packages/angular/tsconfig.lib.json
!packages/angular/tsconfig.lib.old.json
!packages/angular/tsconfig.lib.prod.json
packages/angular/dist

## react / next
!packages/react/
!packages/react/next/
!packages/react/shared/
!packages/react/vanilla/

## vue
!packages/vue/demo
!packages/vue/src
!packages/vue/test

# packages
!scripts/
!scripts/install/
!scripts/jest/
!scripts/rollup/
!scripts/server/
!scripts/webpack/
!scripts/color.js
!scripts/set-version.js

# tests
!tests/
!tests/admin/
!tests/apps/
!tests/E2E/
!tests/fixture/
!tests/pseudo_db/
!tests/request_logger/
!tests/server/
!tests/Makefile
!tests/README.md

# temp files
**/.tmp/*
**/.next/*
**/.nuxt/*
**/.release/*
**/reports/*

# E2E apps
tests/E2E/sources-for-coverage/*
tests/E2E/results
tests/E2E/coverage
!tests/E2E/sources-for-coverage/.gitkeep
tests/E2E/.nyc_output
tests/apps/angular14/*
!tests/apps/angular14/src
tests/apps/angular15/*
!tests/apps/angular15/src
tests/apps/angular16/*
!tests/apps/angular16/src
tests/apps/vue2/*
!tests/apps/vue2/src
!tests/apps/vue2/vue.config.js
tests/apps/vue3/*
!tests/apps/vue3/src
!tests/apps/vue3/vue.config.js
tests/apps/react-ts/*
!tests/apps/react-ts/src
!tests/apps/react-ts/.env
!tests/apps/vue3/.env

.DS_Store
**/.DS_Store
