<table class="cartTable">
  <tr>
    <th></th>
    <th>Product</th>
    <th>Price</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Sum</th>
  </tr>
  <tr *ngFor="let product of cart; trackBy: trackBy">
    <td>
      <img [src]="product.imageUrl" [alt]="product.name" style="width: 50px" />
    </td>
    <td>
      <p>{{ product.name }}</p>
    </td>
    <td>
      <p>${{ product.price }}</p>
    </td>
    <td>
      <button
        (click)="remove(product)"
        class="cart-quantity-button"
        type="button"
        name="button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 24 24"
        >
          <path d="M0 10h24v4h-24z" />
        </svg>
      </button>
    </td>
    <td>
      <p>{{ product.quantity }}</p>
    </td>

    <td>
      <button
        (click)="add(product)"
        class="cart-quantity-button"
        type="button"
        name="button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 24 24"
        >
          <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z" />
        </svg>
      </button>
    </td>
    <td>
      <p>${{ product.sum }}</p>
    </td>
  </tr>
</table>
