body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  text-align: center;
}

/*Navbar*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.content {
  margin-top: 70px;
  text-align: center;
}

nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav>ul>li {
  float: left;
}

nav>ul>li>a, .headerLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav>ul>li>a:hover:not(.active) {
  background-color: #111;
}

.active {
  color: #42b983;
}

.header.right {
  float:right
}

.logout {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
.logout:hover {
  background-color: #111;
}

.header.cart.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header.cart.icon {
  padding-top: 10px;
  margin-left:20px;
  cursor: pointer;
}

.header.cart.text {
  padding-top: 10px;
  margin-right: 20px;
  margin-left: 5px;
  color: white;
  text-transform: uppercase;
}

/*cart modal*/
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.modal-body {padding: 2px 16px;}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 30px auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal-footer {
  text-align: right;
  padding: 30px 2rem;
  background-color: white;
}
.modal-footer p {
  font-weight: 700;
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cartTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.cartTable td, .cartTable th {
  border: 0;
  padding: 8px;
}

.cartTable tr:nth-child(even){background-color: #f2f2f2;}

.cartTable tr:hover {background-color: #ddd;}

.cartTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
/*Product card*/
.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px;
  text-align: center;
  font-family: arial;
  float: left;
  height: 600px;
}


.card button {
  position: absolute;
  bottom: 0;
  left:0;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.cart-quantity-button {
  padding-top: 4px;
  cursor: pointer;
}

.cart-quantity-button:hover {
  opacity: 0.7;
}

/*Account and registration page*/

.login-wrapper {
  display: flex;
  justify-content: center;
}

.login-wrapper div {
  width: 50rem;
}

.login-wrapper div:nth-of-type(1) {
border-right: 1px;
  border-right-color: black;
  border-right-style: solid;
}

/*Forms*/
input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 80px;
  padding: 12px;
  box-sizing: border-box;
  margin-right: 10px;
}

button[type=submit] {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #287129;
}

/*Snackbar (message when adding to cart etc.)*/
.snackbar {
  min-width: 250px;
  border-radius: 5px;
  margin-left: -125px;
  background-color: #219e45; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  -webkit-animation: fadein 0.2s, fadeout 0.5s 2.5s;
  animation: fadein 0.2s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*Content Engagement*/
.content-engagement {
  padding-top: 30px;
  white-space: pre-wrap;
  margin: auto;
  width: 700px;
}

/*Teaser Tracking*/
.teaser {
  background-color: #00ff3b;
}
.teaser-bottom {
  margin-top: 1000px;
}

/* Button class */

.button{
  background-color: #84b0ff;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #2b6bc9;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: #000000;
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
}
.button:hover{
  color:#000000;
  background-color:#FFFFFF;
}
