#content-container::after {
    content: '';
    display: table;
    clear: both;
}

.content-box {
    float: left;
    width: 47%;
    border: solid 1px #c3002f;
    margin: 0.5%;
    padding: 0.5%;
}
